.posts-container {
    margin: 5px;
    border: black solid 2px;
}

.post {
    margin: 5px;
    border: red solid 2px;
}

.post-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.heart-container {
    border: purple solid 4px;
    position: relative;
}

.heart {
    border: yellow solid 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: red;
}

.post-comments {
    margin-top: 20px;
    font-size: 16px;
}

.post-likes {
    margin-top: 10px;
    font-size: 16px;
    border: red solid 2px;
    display: inline-block;
}

.add-to-favorites {
    display: inline-block;
    border: red solid 2px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 95%;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    fill: currentColor;
    color: grey;
}

.post-likes {
    width: 30px;
    height: 30px;
    fill: currentColor;
    color: grey;
}

.bi-chat-dots {
    margin-left: 20px;
    margin-bottom: 20px;
}

.post-comment {
    border: green 2px solid;
}